*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #f4f4f4; 
}
h1,h2,h3 {
   color: greenyellow;
   margin-bottom: 15px;
   font-family: 'Times New Roman', Times, serif;
   border-bottom: 2px solid white;
   margin-top: 20px;
}
.main nav a {
   color: white;
   text-decoration: none;
   padding: 0 15px;
   font-weight: bold;
   font-size: 1.1em;
}
.main nav a :hover{
   color: #ffd966;
   text-decoration: none;
}
.recipe-card{
   width: 90%;
   max-width: 600px;
   margin: 30px;
}
.rolex image{
   width: 100%;
   height: auto;
   display: block;
}
.recipe content{
   padding: 20px;
   background-color: black;

}
.details {
   display: flex;
   justify-content: space-around;
   padding: 10px 0;
   border-top: 1px #ccc;
   margin: 15px 0;
}
.ingredient-list,.tips-list,.instruction summary{
   line-height: 1.6;
   margin-bottom: 20px;
}
.feeback-form label {
   display: block;
   font-weight: bold;
   margin-top: 10px;
}
.feeback-form input [type="text"]
.feeback-form input [type="number"]
.feeback-form textarea {
   width: 98%;
   padding: 8px;
   border: 1px solid #ddd;
   border-radius: 4px;
}
.feedback input[type=submit] {
   background-color: #38761d;
   color: white;
   padding: 10px 20px;
   border-radius:4px ;
   cursor: pointer;
   margin-top: 15;px
}
   